:root {
	--raisin-balck: #2C2C34;
	--dark-liver: #494850;
	--heliot-gray: #978897;
	--violet: #B18FCF;
	--lavender: #D8D8F6; 
}


body {
	background-color: var(--raisin-balck);
	font-family: 'Roboto', sans-serif;
	text-align: center;
    color: lavender;
}

#presentacion {
	margin: 150px auto auto auto;
}

form {
	margin: auto;
}

#contenedor-integrantes {
	margin-top: 50px;
}

.integrante {
	margin-bottom: 10px;
}

section{
	margin: 40px auto;
	max-width: 450px;
	padding: 35px;
	background-color: var(--heliot-gray);
	border-radius: 5px;
	text-align: left;
}

section p {
	color: var(--raisin-balck);
	font-weight: bold;
}

.oculto{
	display: none;
	line-height : 30px;
}


/* Clases */
.btn {
	background-color: var(--dark-liver);
	color: var(--violet);
	border: 1px solid var(--lavender);
	border-radius: 3px;
	height: 30px;
	font-weight: bold;
}

.salario-integrante {
	background-color: var(--lavender);
	color: var(--violet);
	border: none;
	border-radius: 3px;
	height: 30px;
	margin-left: 20px;
	padding-left: 10px;
	font-weight: bolder;
}

.salario-integrante:focus{
	outline: none;
}

.highlighted {
	color: var(--violet);
}