:root {
    --primary: #48435C;
    --secondary: #EDFFEC;
    --text: #5A5766;
    --detail: #61E786;
    --dark: #171123;
}

body {
    background-color: var(--primary);
    font-family: 'IBM Plex Sans', sans-serif;
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    background-color: var(--secondary) !important;
    border-bottom: 4px solid var(--detail);
}

#logo {
    max-height: 60px;
}

/*  Titulo  */

#presentacion {
    margin-top: 150px;
    color: var(--secondary)
}

h1 {
    font-size: 60px;
}

span {
    color: var(--detail);
}

.info-curso {
    margin-top: 50px;
}

.links-curso {
    max-width: 500px;
    margin: auto;

}

.links-curso i {
    color: var(--detail);
    margin-top: 30px;
    padding: 10px;
}

/*  Trabajos  */

#work {
    background-color: var(--text);
    padding: 50px;
    max-width: 90%;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px;
}

#work h2 {
    font-size: 20px;
}

section h2 {
    color: var(--secondary);
    padding: 0 45px 45px 45px;
}

.tarea {
    background-color: aliceblue;
    height: 342px;
    min-width: 400px;
    border-radius: 10px;
    border-bottom: 4px solid var(--detail);
    box-shadow: 2px 2px 10px rgb(125, 125, 125);
}

.tarea img {
    height: 85%;
}

.tarea:hover {
    box-shadow: 2px 2px 10px var(--detail);
}

.paragraph :hover {
    text-decoration: none;
}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 2px solid var(--primary);
}

.paragraph {
    color: var(--text);
    font-weight: bold;
}

.paragraph:hover {
    color: var(--detail);
}

a:hover{
    text-decoration: none;
}

/* Foooter  */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    height: 180px;
    margin-top: 150px;
    color: var(--secondary);
    border-top: 4px solid var(--detail);
}

.contacto i {
    color: var(--secondary);
}


/* Media Queries */
@media (max-width: 575.98px) {
    .tarea {
        margin-bottom: 40px;
        min-width: 300px !important;
        height: 257px !important;
    }

    .tarea img {
        width: 140px;
    }
}

@media (max-width: 945px) {
    .icon-box {
        width: 15px;
    }

    .tarea {
        width: 500px;
        height: 428px;
        max-width: 500px;
        max-height: 428px;
        margin-bottom: 50px;
    }

    .tarea img {
        width: 100%;
    }
}