:root {
	--raisin-balck: #2C2C34;
	--dark-liver: #494850;
	--heliot-gray: #978897;
	--violet: #B18FCF;
	--lavender: #D8D8F6;
}

html {
	background-color: var(--raisin-balck);
	font-family: 'Roboto', sans-serif;
}

body {
	box-sizing: border-box;
	color: var(--lavender);
	max-width: 800px;
	margin: auto;
}

#presentacion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding: 5%;
}

#presentacion li{
	color: var(--heliot-gray);
}

h1 {
	margin: 100px 0 auto 0;
	color: var(--lavender);
	text-align: center;
}

h1 span{
	color: var(--violet);
}

form {
	font: bold;
	font-weight: bolder;
	line-height: 30px;
	margin: auto;
}

.form-item {
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;

	margin: 10px;
}

.form-item label {
	text-align: center;
}

.form-item button{
	margin-left: 10px;
}

#integrantes {
	margin-top: 35px;
}

.integrante {
	background-color: var(--heliot-gray);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	margin:0 10px 0 10px ;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
}

.edad-integrantes {
	margin-left: 15px;
}

#calculos {
	margin: 40px 10px 0 10px;
	padding: 35px;
	min-width: 200px;
	background-color: var(--heliot-gray);
	border-radius: 10px;
	text-align: left;
	line-height: 20px;
}

.resultado {
	font-weight: bolder;
	margin: 5px;
}

#respuestas {
	display: flex;
	margin-top: 20px;
}

.oculto {
	display: none;
}

#resetear {
	margin: 5px 10px;
}

/* clase de estilos para los botones */

.btn-input {
	font-weight: bolder;
	background-color: var(--dark-liver);
	color: var(--violet);
	border: none;
	height: 35px;
	border-radius: 5px;
}

input {
	padding-left: 15px;
}

input:focus {
	outline: none;
}

/* Media querie */
@media (max-width: 767.98px) { 
	.form-item {
		justify-content:space-around;
		width: 85%;
		margin: auto;
	}

	.form-item label {
		text-align: left;
	}

	.form-item button {
		border-radius: 50px;
		margin-left: 0;
		padding: 0 15px;
	}
}
